* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }
    .card  .men {
      width: 300px;
      transition: all 2000ms ease;
      cursor: pointer;
  }
  
  /* .card :hover{
      transform: scale(1.3);
  }
  .Skills-section .text{
      color:#b70b81;
    }
     */
    .Skills-section{
      padding: 50px;
      text-align: center;
      background-color: #0b0bb7 rgb(203, 189, 189);
      color: #0b0bb7;
      /* border-radius: 2%; */
      /* background-image: url(about.jpg); */
      background-position: center;
      background-repeat: no-repeat;
     
    }
    .container {
      padding: 0 16px;
      
    }
    .container {
      color: #0b0bb7;
    }
    .container .part{
      color:#0c0c0d;
      text-align: center;
      padding-bottom: 10px;
    }
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .container h4  {
      padding-bottom: 10px;
    }
    .container h6{
      padding-bottom: 7px;
      color:#3c032e;
    }
    .container .location{
      color:#1616a663;
      padding-bottom: 3px;
    }
    
    /* .title {
      color: rgb(111, 38, 38);
    } */
    
   
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    .Top{
      text-align:center;
      padding-bottom: 20px;
      color: #6a0651;
    }
    
    .hero {
      width: 100%;
      height: 100vh;
  
  }
  
  .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 200px;
  }
  
  .nav .link ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      list-style: none;
  }
  
  .nav .link ul a {
      text-decoration: none;
      color: #2a2a2a;
      font-weight: 600;
      transition: all 2000ms ease-in-out;
  }
  
  ul a .active {
      color:  #0b0bb7;
  }
  ul a .active:hover {
      color:  #0b0bb7;
      transition: all 2000ms ease;
      cursor: pointer;
  }
  
  .nav .link ul a:hover {
      color:  #b70b81;
      
  }
  ul a .active_2 {
      color:  #b70b8c;
  }
  .logo h2{
      color: #0b0bb7;
  }
  
  .main {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6rem;
      margin-top: 70px;
    
  
  }
  
  .main .men {
      width: 400px;
      transition: all 2000ms ease;
      cursor: pointer;
  }
  
  .main .men:hover{
      transform: scale(1.3);
  }
  
  .main .main-detil {
      text-align: center;
      color: #0c0c0d;
  }
  
  .main .main-detil h1 {
      font-size: 50px;
      color: #1313c2;
  
  }
  
  .main .main-detil h4 {
      font-size: 30px;
      margin-bottom: 20px;
  }
  
  .main .btn button {
      padding: 8px 20px;
      background: transparent;
      border-radius: 30px;
      border: 1px solid #2a2a2a;
      margin-right: 1rem;
      margin-bottom: 30px;
      cursor: pointer;
  }
  
  .main .btn .btn-2 {
      padding: 10px 30px;
      background: #2a2a2a;
      color: #fff;
      border: none;
      outline: none;
      transition: all 2000ms ease-in-out;
  
  }
  
  .main .btn .btn-2:hover {
      background:  #0b0bb7;
      transform: scale(1.1);
  
  }
  
  .social i {
      color: #2a2a2a;
      font-size: 40px;
      margin: 0px 14px;
      transition: all 2000ms ease-in-out;
      cursor: pointer;
      padding: 10px;
  }
  
  .social i:hover {
      color:  #0b0bb7;
  }
  
  /* .sub-btn a{
      position: absolute;
      bottom: 60px;
      right: 50px;
      padding: 10px 20px;
      background: red;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      border-radius: 6px;
  } */
  
